@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.conteneurheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0px 0px 30px #042a2b;
    align-items: center;
}

.lienheader {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 60%;

}

.lienheader a {
    font-family: 'Monoton', cursive;
    font-size: 30px;
    color: #ef7b45;
    text-decoration: none;
}

.lienheader a:hover {
    color: #042a2b;
    transform: scale(1.2);
}

body,
html {
    width: 100%;
    height: auto;
}

footer {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-top: black;
    box-shadow: 0px 0px 30px #042a2b;
    align-items: center;
    justify-content: space-around;
}

.logo-footer {
    margin-left: 5%;
}

.text-footer {
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-footer:hover {
    background-color: #042a2b;
    color: white;
}

.contact-footer {
    color: #042a2b;
    font-size: 20px;
    font-family: 'Trispace', sans-serif;
    background-color: #ef7b45;
    border-radius: 10px;
    padding: 5px;
    transition: 1s;
}

.reseaux {
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-reseaux {
    width: 100px;
    height: 100px;
}
.map{
    margin-top: 70px;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.screen-map{
    width: 400px;
    height: 200px;
}
.text1-presentation{
    margin-top: 50px;
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
}
.paragraphe1-prensentation{
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    font-family: 'Syne Mono', monospace;
    padding: 8px;
    background-color: #ef7b45;
    border-radius: 10px;
    border: solid #042a2b 2px;
}
.text2-presentation{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.paragraphe2-prensentation{
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    font-family: 'Syne Mono', monospace;
}
.text3-presentation{
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}
.paragraphe3-prensentation{
    font-size: 20px;
    text-align: center;
    line-height: 2em;
    font-family: 'Syne Mono', monospace;
    text-decoration: underline;
}
.image-materiel{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.image-materiel1{
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 20px grey;
}
.image-materiel2{
    width: 300px;
    height: 200px;
    box-shadow: 0px 0px 20px grey;
}
.titre-equipe{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.text1-equipe{
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Syne Mono', monospace;
    background-color: #ef7b45;
    padding: 5px;
}
.mid1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.personne{
    width: 30%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: solid black 3px;
    border-radius: 10px;
    background-color: #ef7b45;
    padding: 10px;
}
.photo{
    width: 300px;
    height: 200px;
    border-radius: 100%;
    border: solid black 2px;
}
.descri{
    font-size: 20px;
    font-family: 'Syne Mono', monospace;
    margin-top: 20px;
    text-align: center;
}
.mid2{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.titre-realisation{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para1-realisation{
    font-size: 50px;
    text-decoration: underline;
    font-family: 'Syne Mono', monospace;
    background-color: #ef7b45;
    padding: 5px;
}
.soustitre-realisation{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.photo-maison{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 50px;
}
.maison{
    width: 300px;
    height: 200px;
    border: solid black 2px;
}



